iframe{width: 100%;height: 100%;}
.impowerBox .qrcode {width:160px;margin: 0px;}
.impowerBox .title {display:none;}
.status_icon {display:none}
.impowerBox .status {text-align:center;}
.impowerBox .info{
	display:none
}
